@page
@model IndexModel
@{
    ViewData["Title"] = "Real power Problems";
}

<div class="text-center">
    <h1 class="display-4">Real Power Problems </h1>
    <p>A list of News, Insights and Cases that will really help you to solve the real problems that appears on the daily work with Power Platform! </p>
</div>
