@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Real Problems of Power Platform</h1>
    <p>A list of news and problems solving that will really help you daily work on the real world! </p>
</div>
